body {
    background-color: #474e5d;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: grey;
}

h1 {
    text-align: center;
    color: grey;
}

p {
    font-size: 15pt;
    color: lightgray;
    text-align: center;
}
